*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:"Poppins", sans-serif;
  background:linear-gradient(135deg,#667eea,#764ba2);
  min-height:100vh;
}


/* Main */
.app{
  min-height:100vh;
}


/* Header */

.header{

  text-align:center;
  color:white;
  padding:40px 20px;

}

.header h1{

  font-size:40px;
  margin-bottom:10px;

}

.header p{

  font-size:18px;
  opacity:0.9;

}


/* Dashboard */

.dashboard{

  width:90%;
  margin:auto;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(15px);
  border-radius:25px;
  padding:30px;
  box-shadow:0 20px 40px rgba(0,0,0,0.2);

}


.dashboard h2{

  color:white;
  text-align:center;
  font-size:28px;

}



/* Cards */

.cards{

  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(260px,1fr));

  gap:25px;

}



.card{

  background:white;
  padding:25px;
  border-radius:20px;

  box-shadow:
  0 10px 25px rgba(0,0,0,0.15);

  transition:0.3s;

  position:relative;

}



.card:hover{

  transform:translateY(-10px);

  box-shadow:
  0 20px 40px rgba(0,0,0,0.25);

}



.icon{

  width:60px;
  height:60px;

  background:#667eea;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:30px;

  margin-bottom:15px;

}



.card h3{

  color:#333;
  font-size:22px;

}


.card p{

  color:#666;
  font-size:16px;

}



/* Status */

.status{

  display:inline-block;

  padding:8px 18px;

  border-radius:30px;

  background:
  linear-gradient(45deg,#00c853,#64dd17);

  color:white;

  font-weight:bold;

  margin-top:15px;

}



/* Mobile */

@media(max-width:600px){

.header h1{

font-size:28px;

}

.dashboard{

width:95%;

}

}